<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Welcome World university</title>
</head>
<body class="d-flex flex-column">

<section layout:fragment="body">
    <!-- Nested row for non-featured blog posts-->
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h2>Create course</h2>
<!--                    <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>-->
                    <form method="post" th:action="@{/createCourse}" enctype="multipart/form-data">
                        <div class="form-group">
                            <input class="lead mb-0" th:field="${course.name}" name="name" id="title">
                            <input class="lead mb-0" th:field="${course.description}" name="description" id="description">
                            <input class="lead mb-0" th:field="${course.trainer.login}" name ="trainer" id ="trainer" >
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                    <span th:if="${msg != null}" th:text="${msg}"></span>
                </div>
            </div>
        </div>
    </section>
</section>
</body>
</html>