<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Welcome World university</title>
</head>
<body class="d-flex flex-column">

<section layout:fragment="body">
    <!-- Nested row for non-featured blog posts-->
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h2>Create department</h2>
<!--                    <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>-->
                    <form method="post" th:action="@{/usertypeSelect}" enctype="multipart/form-data" th:object="${user}">
                        <div class="form-group">
                            <label for="UserType">User role</label>
                            <select class="form-select" id="UserType" name="UserType"  aria-label="role" th:field="*{userType}"  >
                                <option th:each=" utype : ${T(ado.rush.university.entity.UserType).values()}"
                                        th:value="${utype.name}"
                                        th:text="${utype.name}"></option>
                            </select>
                            <p th:if="${#fields.hasErrors('userType')}" class="text-danger" th:errors="*{userType}"></p>
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                    <span th:if="${msg != null}" th:text="${msg}"></span>
                </div>
            </div>
        </div>
</section>
</body>
</html>